.cemex-wrapper #content-footer-wrapper {
    height: calc(100% - 60px);
}

#social.social-list-inline {
    padding-left: 0;
    list-style: none;
    margin-left:-5px;

    li{
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }

    .b-quick-access__item {

        .b-quick-access__button {
            font-size: 12px;
            display: inline-block;
            vertical-align: left;
            font-weight: 300;
            letter-spacing: 2px;
            margin-right: 20px;
            color: #fff;
            line-height: 38px;
        }

        .b-quick-access__button:hover {
            color: $products-and-services-color;
            -webkit-transition: color 0.3s;
            -moz-transition: color 0.3s;
            transition: color 0.3s;
        }
    }
}