@import "variables.scss";
@import "orange-theme.scss";
@import "blue-theme.scss";
@import "purple-theme.scss";
@import "green-theme.scss";
@import "gray-theme.scss";
@import "footer.scss";
@import "decorators.scss";
@import "header.scss";
@import "pagination.scss";

.b-image-gradient:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.41) 54%, rgba(0, 0, 0, 0.7));
    background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.41) 54%, rgba(0, 0, 0, 0.7));
    background-color: transparent;
    width: 100%;
    height: 50%;
}

.cemex-icons {
    background: url(/o/cemex-mexico-theme/images/sprite-icons.png) no-repeat 0 0 transparent;
    background-size: 1008px;
}

.global-light-gray {
    background-color: $light-gray;
}

.global-normal-gray {
    background-color: $normal-gray;
}

.global-dark-gray {
    background-color: $dark-gray;
}