.pager li > a, .pager li > span {
    border: 1px solid $black-color;
    color: $black-color;
    padding: 15px 36px;
    border-radius: initial;
    font-size: 10px;
    font-weight: 900;
    line-height: 1px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}

.pager .disabled > a, 
.pager .disabled > a:hover, 
.pager .disabled > a:focus, 
.pager .disabled > span {
    border: 1px solid #777;
    padding: 15px 36px;
    border-radius: initial;
    font-size: 10px;
    font-weight: 900;
    line-height: 1px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}