.b-purple-theme {
    /*** BACKGROUNDS ***/
    .b-background-light {
        background-color: $purple-theme-color;
        color: $white-color;
    }
    
    .b-background-normal {
        background-color: $purple-theme-accent-color;
        color: $white-color;
    }

    .b-background-dark {
        background-color: $purple-theme-accent-color-darker;
        color: $white-color;
    }

    /*** BORDERS ***/
    .b-border-light {
        border-color: $purple-theme-color;   
    }

    .b-border-normal {
        border-color: $purple-theme-accent-color;  
    }

    .b-border-dark {
        border-color: $purple-theme-accent-color-darker;  
    }

    .b-border-top__light-color {
        border-top: 2px solid $purple-theme-color;
    }

    .b-border-right__light-color {
        border-right: 2px solid $purple-theme-color;
    }

    .b-border-bottom__light-color {
        border-bottom: 2px solid $purple-theme-color;
    }

    .b-border-left__light-color {
        border-left: 2px solid $purple-theme-color;
    }

    .b-landing__border-top {
        border-top: 6px solid $purple-theme-color;
    }

    /*** LINKS ***/
    .b-link-light {
        color: $purple-theme-color;   
    }

    .b-link-normal {
        color: $purple-theme-accent-color;  
    }

    .b-link-dark {
        color: $purple-theme-accent-color-darker;  
    }

    /*** STRUCTURED STORIES ***/
    .b-collapsable__border-left {
        border-left: 8px solid $purple-theme-accent-color;
    }

    /*** HERO ***/
    .b-hero__button-link, .b-hero__label {
        top: 30px;
        right: 30px;
        color: $white-color;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.6;
        z-index: 102;
        position: absolute;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        text-align: right;
    }
    
    .b-hero__button-link:hover {
        color: $purple-theme-color;
        -webkit-transform: translate(5px, 0);
        -moz-transform: translate(5px, 0);
        -ms-transform: translate(5px, 0);
        -o-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }
    
    /*** NAVIGATION TABS ***/
    .b-nav-tabs li.active {
        background-color: $purple-theme-accent-color;
    }

    /*** COMMON BUTTON ***/
    .b-button-link {
        border: 1px solid $black-color;
        color: $black-color;
        padding: 10px 36px;

        .b-button-link__label {
            font-size: 10px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .b-button-link:hover {
        color: $purple-theme-accent-color;
        border: 1px solid $purple-theme-accent-color;
    }

    .b-button-link-light {
        border: 1px solid $white-color;
        color: $white-color;
        padding: 10px 36px;

        .b-button-link__label {
            font-size: 10px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .b-button-link-light:hover {
        color: $purple-theme-accent-color;
        border: 1px solid $purple-theme-accent-color;
    }

    /*** DEOCORATOR ***/
    .portlet-nested {
        border-bottom: 6px solid $purple-theme-color;
    }
}