/* Global Colors */
$white-color: #FFFFFF;
$light-gray: #FAFAFA;
$normal-gray: #CCCCCC;
$dark-gray: #45474E;
$black-color: #000000;

/* Blue Theme - Products Section */
$blue-theme-color: #34A6F8;
$blue-theme-accent-color: #003876;
$blue-theme-accent-color-darker: #002457;

/* Green Theme - Sustainability Section */
$green-theme-color: #6DD125;
$green-theme-accent-color: #63A732;
$green-theme-accent-color-darker: #12881E;

/* Orange Theme - About CEMEX Mexico Section */
$orange-theme-color: #FFCF36;
$orange-theme-accent-color: #FF912E;
$orange-theme-accent-color-darker: #E36B0B;

/* Purple Theme - Solutions Section */
$purple-theme-color: #A543EA;
$purple-theme-accent-color: #662991;
$purple-theme-accent-color-darker: #471C65;

/* Gray Theme - Press Room Section */
$gray-theme-color: #C8CCD2;
$gray-theme-accent-color: #48637C;
$gray-theme-accent-color-darker: #2C3E50;