/* inject:imports */
/* endinject */

@import "bourbon";
@import "mixins";

@import "utils/all.scss";
@import "cemex-css/variables.scss";
@import "cemex-css/mixins.scss";
@import "cemex-css/cemex-main.scss";
/*
@import "cemex-css/expandable-sections.scss";
@import "cemex-css/item-list.scss";
@import "cemex-css/language-selector.scss";*/

@import "cemex-css/navigation.scss";
@import "cemex-css/mobileNavigation.scss";
@import "cemex-css/fonts.scss";
@import "cemex-css/media-queries.scss";
@import "cemex-css/mixins/media-queries.mixin.scss";

/* Start Injecting CEMEX Mexico Styles */
/* Added by Eduardo Juarez from Base22 */
@import "cemex-mexico-css/main-cemex-mexico.scss";
/* End Injecting CEMEX Mexico Styles */

/* Custom global css */

html,
body {
    width: 100%;
    position: fixed;
}

html,
body,
body>[id^=senna_surface],
#wrapper {
    height: 100%;
}

body {
    color: $body-color;
    overflow: hidden;
    font-size: $body-font-size;
    font-family: 'Roboto', sans-serif !important;
    -webkit-overflow-scrolling: touch;
}

.hero-text {
    @include font-style($hero-font-size, bold);
}

h1 {
    @include font-style($h1-font-size, 900);
}

h2 {
    @include font-style($h2-font-size, 900);
}

h3 {
    @include font-style($h3-font-size, 500);
}

h4 {
    @include font-style($h4-font-size, 300);
}

h5 {
    @include font-style($h5-font-size, 300);
}


p {
    @include font-style($body-font-size, 300, 1.5em);
    padding-bottom: 20px;
}

ul,
ol {
    margin: 0;
}

.html-content {
    @include font-style($body-font-size, 300, 1.4em);

    ul {
        padding-left: 30px;
    }
}

#wrapper {
    padding-top: 0;
}

#content-footer-wrapper {
    position: relative;
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - #{$theme-header-height + $theme-header-secondary-navigation-height});
}

main {
    position: relative;
}

.has-control-menu {
    #wrapper {
        max-height: calc(100% - #{$liferay-top-control-menu-height});
    }
    #mobile-navigation {
        top: $liferay-top-control-menu-height;
    }
    #content-footer-wrapper {
        padding-top: 50px;
        top: -50px;
    }
}

.sidebar h4,
.sidebar .h4 {
    margin-top: 0px;
}

.portlet:hover .portlet-topper {
    z-index: $theme-portlet-hover-topper-z-index;
}

.portlet {
    margin-bottom: 0;
    >.portlet-content-editable {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.portlet-content-editable {
    border-radius: 0 0 0 0;
}

.user_personal_bar {
    .user-avatar-link,
    .sign-in {
        &>a {
            color: white;
            display: inline-block;
            padding-top: 4px;
        }
    }
    .user-icon,
    .icon-user {
        display: inline-table;
    }
    .user-full-name {
        margin-left: 4px;
        margin-right: 10px;
    }
}

.more-button {
    display: inline-block;
    border: solid;
    color: #fff !important;
    margin-top: 10px;
    padding: 0 16px;
    letter-spacing: 3px;
    border-width: 1px;
    height: 38px;
    margin-right: 51px;
    background-color: rgba(0, 0, 0, 0.3) !important;

    @include transition(background-color 0.5 ease-out);

    cursor: pointer;
    border-color: $page-border-color;
    &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6) !important;
        span {
            @include transform(translate(5px, 0));
        }
    }
    &:focus {
        color: #fff !important;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        line-height: 38px;
        cursor: pointer;

        @include transition(transform 0.5s ease-out);
    }
    i {
        font-size: 18px;
        vertical-align: middle;
        margin-left: 50px;
        display: inline-block;
        line-height: 38px;
        margin-top: -2px;
    }
}

.edit-button {
    display: inline-block;
    border: solid;
    color: #fff !important;
    margin-top: 10px;
    padding: 0;
    letter-spacing: 3px;
    border-width: 1px;
    height: 38px;
    width: 38px;
    background-color: rgba(0, 0, 0, 0.3) !important;

    @include transition(background-color 0.5s ease-out);

    cursor: pointer;
    border-color: $page-border-color;
    &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
    &:focus {
        color: #fff !important;
    }
    i {
        color: #fff;
        font-size: 18px;
        vertical-align: middle;
        margin-left: 10px;
        display: inline-block;
        line-height: 38px;
    }
}

img {
    &.image-center {
        width: 100%;
    }
    &.image-left {
        float: left;
        margin-right: 15px;
        max-width: 250px;
        max-height: 180px;
    }
    &.image-right {
        float: right;
        margin-left: 15px;
        max-width: 250px;
        max-height: 180px;
    }
}


/* BEGIN -- Hide the default asset publisher bar when vieweing full content */

.signed-in {
    .h2 {
        display: block !important;
        margin: 0;
    }
}

.signed-out {
    .h2 {
        display: none !important;
    }
}

.header-back-to {
    &+span {
        display: none;
    }
}


/* END --Hide the default asset publisher bar when vieweing full content */

.content {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: justify;
    .hero-text {
        text-align: left;
        padding: 0;
        padding-bottom: 20px;
    }
    overflow: hidden;
    iframe {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100%;
    }
}

.hero-frame {
    max-height: 70vh;

    @include display(flex);
    @include align-items(center);
}

.image-template-2 {
    display: block;
    max-width: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.image-subtitle {
    margin-top: 10px;
    font-size: $image-subtitle-font-size;
    text-align: center;
    padding-bottom: 20px;
}


/* BEGIN -- Image viewer */

.image-viewer {
    z-index: 1200 !important;
}

.yui3-widget-mask.image-viewer-mask {
    opacity: .7;
    z-index: 1200 !important;
}

.image-viewer-caption,
.image-viewer-info,
.image-viewer .image-viewer-footer-buttons .glyphicon {
    color: white;
    text-shadow: 1px 1px #000;
}

.image-viewer-close {
    color: white;
    &:hover {
        color: white;
    }
}

.close {
    font-size: 40px;
}


/* END -- Image viewer*/

.frame {
    overflow: hidden;
}

.background-dark {
    background-color: #333;
    color: white;
}

.page-banner {
    height: calc(40vh - 120px);

    @include media-small {
        height: 220px;
    }

    display: table;
    font-size: 100px;
    border: solid;
    border-width: 0 0 6px 0;
    border-color: $page-border-color;
    h1 {
        color: #fff;
        font-size: 100%;
        font-weight: 700;
        letter-spacing: -1px;
        padding-left: 3%;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
        @include media-medium {
            font-size: 70%;
        }
        @include media-small {
            font-size: 60%;
        }
        @include media-x-small {
            font-size: 35%;
        }
    }
}

hr {
    border-top: 2px solid #999;
    margin-bottom: 40px;
}

:not(.expandable-section) {
    &.container.content {
        border-top: 0.5px solid #ccc !important;
    }
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

table {
    width: 100%;
    max-width: 1000px;
    border: 0;
    tr:nth-child(odd) {
        background: #f1f1f1;
        color: black;
    }
    tr:nth-child(even) {
        color: black;
        background: #ddd;
    }
    th{
        color: white;
        @include linear-gradient(#aaa, #a3a3a3, $fallback: transparent);
    }


    td,th {
        padding: 7px 10px;
    }
    td {
        vertical-align: top;
        text-align: left;
    }
    td:not(:last-child) {
        border-right: 0.5px#bdbdbd solid;
    }
    th {
        border-right: 0.5px white solid;
    }
}

@include close-x-button('page', #C8CCD2);
@include close-x-button('white', #FFFFFF);
@include close-x-button('gray', #C8CCD2);
@include close-x-button('purple', $investors-clear-color);
@include close-x-button('green', #27AE60);
@include hover-scale($scale: 1.02);
@include hover-grayscale('20', 20%);
@include hover-grayscale('60', 60%);
@include hover-grayscale('80', 80%);

@each $vertical in top center bottom {
    @each $horizontal in left center right {
        @include background-position($vertical, $horizontal);
    }
}

/* Expandable Search */
#search .icon-monospaced .lexicon-icon {
    display: none!important;
}

#search input.form-control{
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
}

.search-layout.menu-column #_com_liferay_portal_search_web_portlet_SearchPortlet_facetNavigation{
	display:none;
}

.searchcontainer-content .user-icon-lg.user-icon.user-icon-default {
    display: none;
}

h6:first-of-type{
	display:none;
}

h6:last-of-type{
	display:none;
}

.searchcontainer-content {
    margin: 0 auto;
    width: 100%;
    margin-left: 20px;
}

#_com_liferay_portal_search_web_portlet_SearchPortlet_searchContainer .form-group {
    margin-bottom: 20px;
    position: absolute;
    width: 90%;
    min-width: 226px;
    overflow: hidden;
}

fieldset#_com_liferay_portal_search_web_portlet_SearchPortlet_searchContainer {
    margin: 0 auto;
    width: 86%;
	position: relative;
}

.search-layout .col-md-9 {
    width: 100%;
    margin: 0 auto;
}

.searchcontainer-content {
    margin: 0 auto;
    width: 100%;
}

div#_com_liferay_portal_search_web_portlet_SearchPortlet_search {
    width: 86%;
    margin: 0 auto;
}

#_com_liferay_portal_search_web_portlet_SearchPortlet_searchContainer .btn {
    width: 100px;
    height: 35px;
    margin-top: 5px;
}

#_com_liferay_portal_search_web_portlet_SearchPortlet_searchContainer .lfr-ddm-field-group.lfr-ddm-field-group-inline.field-wrapper{
    position: relative;
    float: right;
    top: -5px;
    margin-left: 10px;
}

/* End */

/*Fix for the Form Layout - CEMEXWEB-406 */

.active.lfr-ddm-form-page .row {
    clear: both;
    padding: 1px;
    margin: 0 0 10px 0;
    width: 100%;
}

.active.lfr-ddm-form-page .row label.control-label {
    width: 18%;
    float: left;
    font-weight: normal;
}

.active.lfr-ddm-form-page .row .input-group-container {
    width: 80%;
    float: right;
}

.active.lfr-ddm-form-page .row select {
    width: 50%;
}
.active.lfr-ddm-form-page .row input{
    width: 50%;

    &[type="checkbox"] {
        width: auto;
    }
}
.active.lfr-ddm-form-page .row textarea{
    width: 50%;
}
.portlet-forms .lfr-ddm-form-field-container {
    padding: 5px 0 5px 0 !important;
    position: relative !important;
}
.lfr-ddm-form-container .lfr-ddm-form-pagination-controls {
    width: 60%;
    overflow: hidden;
    margin-top: -15px;
}
.portlet-forms .lfr-ddm-form-page-title{
	display: none;
}
.liferay-ddm-form-field-tip {
    display: none;
}

@media (max-width: 767px) {
	  .active.lfr-ddm-form-page .row {
		margin: 0 0 15px 0;
	  }
	 .active.lfr-ddm-form-page .row label.control-label {
		width: 100%;
		float: none;
		margin: 0 0 5px 0;
	  }

	.active.lfr-ddm-form-page .row .input-group-container {
		width: 100%;
		float: none;
	 }

	.active.lfr-ddm-form-page .row select {
		width: 100%;
	}
	.active.lfr-ddm-form-page .row input{
		width: 100%;
	}
	.active.lfr-ddm-form-page .row textarea{
		width: 100%;
	}
}

.portlet-forms .required-warning {
    display: none !important;
}
label.control-label {
    font-size: 12pt !important;
}
.active.lfr-ddm-form-page .row {
    padding: 0 !important;
    margin: 0 0 5px 0 !important;
    border: none !important;
}
.lfr-ddm-form-container .lfr-ddm-form-field-container .icon-asterisk {
    display: none !important;
}

/* End */

.only-english {
    display: none;
    html[lang="en-US"] & {
        display: block;
    }
}

.only-spanish {
    display: none;
    html[lang="es-ES"] & {
        display: block;
    }
}

.back-button {
    font-size: 2em;
    position: relative;
    text-align: center;
    top: 10px;
    padding-bottom: 20px;
    .fa-angle-left {
        border-style: solid;
        height: 1.2em;
        width: 1.2em;
        border-radius: 50%;
        border-width: 2px;
        &:before {
            position: relative;
            left: -2px;
            top: -1px;
        }
        color: #aaa;
    }
}

.publish-date {
    color: gray;
    margin-top: 0;
    margin-bottom: 30px;
}

.iframe-content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    width: 100%;
}

.anchorjs-link {
    display: none;
    color: gray !important;
    &:hover {
        color: gray !important;
    }
}

.has-control-menu .anchorjs-link {
    display: inline;
    display: initial;
}

.feed-image {
    margin-top: 5px;
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.iframe-container {
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

    iframe:focus {
        outline: none;
    }

    iframe[seamless] {
        display: block;
    }

    iframe {
        width: 100%;
        border: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    @include media-large {
        margin-left: 10%;
        margin-right: 10%;
    }
    @include media-medium {
        margin-left: 0;
        margin-right: 0;
    }
}

.close-expandable-button {
    color: #FFF;
    width: 28px;
    height: 28px;
    opacity: 0.7;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 10;
    visibility: hidden;

    @include transition(all 0.5s);

    @include media-query(null, $screen-sm-max) {
        transform: translate(24px, 0);
    }

    &:hover {
        opacity: 1;
    }
}

#article-column {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    max-height: auto;
    transition: all 0.4s ease;
    float: left;
}

.related-articles {
    padding-right: 96px;
    margin-top: 60px;
    margin-bottom: 60px;

    @include media-query(null, $screen-sm-max) {
        padding-left: 40px;
        padding-right: 40px;
    }

    img {
        width: 120px;
        height: 120px;
        background-color: #eee;
        float: left;

        @include media-query(null, $screen-sm-max) {
            float: none;
            display: block;
            margin: auto;
        }
    }

    h3 {
        float: left;
        font-size: 27px;
        padding-left: 30px;
        font-weight: 400;
        line-height: 120px;

        @include media-query(null, $screen-sm-max) {
            float: none;
            display: block;
            margin: auto;
            padding: 0;
            line-height: 100%;
        }
    }

    .go-to-page-button {
        float: right;

        @include media-query(null, $screen-sm-max) {
            float: none;
            display: block;
            margin: auto;
            padding: 0;
        }
    }
}

.go-to-page-button {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 38px;
    width: 170px;
    border: solid;
    border-width: 1px;
    color: #111;
    margin-right: 24px;
    display: inline-block;
    line-height: 37px;
    text-align: center;
    font-weight: 900;
    @include transition(all 0.3s ease);
    @include transform(translate(0, 42px));

    &:hover {
        color: #3fa9f5;
    }
}

.hide-article-column {
    @include transform(translate(-100%, 0));
}

.media-item {
    overflow: hidden;
    transition: all 0.4s ease;
}

.expand-media-column {
    width: 100% !important;
}

#media-column {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #fff;
    float: left;
    @include transition(all 0.5s ease);
}

.main-article-container {
    margin: auto;
    overflow: hidden;

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

article {
    p {
        text-align: justify;
        font-size: 16px;
        color: #666;
        line-height: 150%;

        @include media-query(null, $screen-sm-max) {
            font-size: 14px;
        }
    }

    h1 {
        font-size: 80px;
        letter-spacing: 0px;

        @include media-query(null, $screen-sm-max) {
            font-size: 50px;
            letter-spacing: 0px;
        }
    }

    .article-content {
        padding-right: 90px;
        padding-top: 30px;
    }
}

.media-item {
    background-color: #ccc;

    img {
        width: 100%;
        @include transform(translateZ(0));
        @include transition(all 0.5s ease);
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.expandable {
    cursor: pointer;

    @include media-query(null, $screen-sm-max) {
		cursor: default;
	}

    &:hover img {
        @include filter(grayscale(60%));
        @include transform(scale3d(1.02, 1.02, 1));
        @include transition(all 0.7s ease-out);

        @include media-query(null, $screen-sm-max) {
            @include filter(none);
            @include transform(scale3d(1, 1, 1));
        }
    }
}
.cemex-media-center-content-container {
    @include transition(all 0.15s ease-out);

    .cemex-media-center-image-open & {
        @include transform(translateX(-150%));
    }
}

.cemex-media-center-image-open {
    .frame {
        overflow: visible;
    }
}