@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $about-color;
$accent-color: $about-accent-color;
$background-color: $about-background-color;
$border-color: $about-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include key-statistics($background-color);
@include expandable-sections-button-colors($hover-color: $color, 
    $active-background-color: $background-color, 
    $active-border-color: $border-color, 
    $active-hover-background-color: $background-color, 
    $active-hover-border-color: $border-color);