@import 'cemex-css/mixins.scss';
@import 'cemex-css/variables.scss';

@include page-colors($products-and-services-color);
@include expandable-sections-button-colors($products-and-services-accent-color);

$expandable-section-background-color: black;


#sections-tab .nav-tabs {

    border: none;
    background-color: $products-and-services-accent-color-darker;

    @include display(flex);

    > li {
        @include flex-grow(1);

        float: none;
        vertical-align: bottom;
        @include font-style(12px, bold);

        .icon {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }

        .title {
            display: block;
            text-transform: uppercase;
            margin-top: 5px;
        }

        .arrow {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:last-child:after {
            display: none;
        }

        &:after {
            content: "";
            width: 1px;
            height: 65%;
            background-color: $products-and-services-color;
            position: absolute;
            right: -1px;
            top: 0;
            opacity: 0.4;
        }

        > a,
        > a:hover,
        > a:focus,
        &.active > a,
        &.active > a:focus,
        &.active > a:hover {
            border: none;
            border-radius: 0;
            color: white;
            background-color: transparent;
        }

        > a {
            height: 100%;
            margin: 0;
            margin-left: 1px;
            padding: 15px 10px;
            outline: none;
            text-align: center;
            opacity: 0.5;
        }

        &.active > a,
        &:hover > a {
            opacity: 1;
        }

        &:first-child a {
            margin-left: 0;
        }

        &.active .arrow {
            @include bottom-arrow($height: 12px, $color: $products-and-services-accent-color);
        }

        @include media-x-small {
            font-size: 9px;

            .icon {
                width: 40px;
                height: 40px;
            }
        }

    }

}

.main-content {
    color: white;
    background-color: $products-and-services-accent-color;
    padding: 40px 0;
    margin-bottom: 40px;
    a {
        color: #3ea9f5;
        &:hover {
            color: white;
        }
    }
}

.subsection-group .container {
    margin-bottom: 20px;
}

.expandable-button:after {
    border-bottom-color: $expandable-section-background-color;
}

.expandable-sections {
    background-color: $expandable-section-background-color;
}

#tab-pavements {
    .expandable-button:after {
        border-bottom-color: #10304e;
    }

    .expandable-sections {
        background-color: #10304e;
    }
}

.subsection-group .expandable-section {


    > div {
        padding-top: 70px;
    }

    .row {
        border-top: 1px solid $products-and-services-color;
        padding: 30px 0;

        &:first-child {
            border: none;
        }
    }

    :not(.col-md-12) > img {
        width: 100%;
    }

}

