@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $careers-color;
$accent-color: $careers-accent-color;
$background-color: $careers-background-color;
$border-color: $careers-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.hero-square, .key-statistics {
    h3,
    h4,
    h5,
    h6,
    p {
        color: $accent-color;
    }
}

.content {
    padding-top: 50px;
}

.blue-box {
    h3,
    h4,
    h5,
    h6,
    p {
        color: #ccc;
    }
}

.feed-image-container {
    padding-right: 10px !important;
}

.feed-image {
    width: 100%;
    margin-bottom: 10px;
}

#content-footer-wrapper {
    height: calc(100% - #{$theme-header-secondary-navigation-height});
}

.expandable-section {
    a,
    a:hover {
        color: #ff7666;
    }
}

.page-banner {
    height: calc(40vh - 59px);
}