@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $about-color;
$background-color: $about-background-color;
$border-color: $about-border-color;

@include key-statistics($background-color);
@include page-colors($color);

.content {
    margin-top: 0;
    margin-bottom: 10px;
}