@import 'management-team.scss';
@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $investors-color;
$accent-color: $investors-accent-color;
$background-color: $investors-background-color;
$border-color: $investors-border-color;

$clear: $investors-clear-color;

@include key-statistics($background-color);
@include page-colors($color, $clear);
@include page-hero($color, $accent-color);
@include close-x-button('page', $clear);
@include expandable-sections-button-colors($color);

.page-banner {
    border-color: $color;
}

a {
    color: $color;
    &:hover {
        color:$clear;
    }
}

.expandable-section {
    a {
        color: $clear;
        &:hover {
            color: white;
        }
    }
    p {
        color: #c8ccd2;
    }
    tbody p {
        color: black;
    }
}

.management-team-members {
	padding: 0;
    color: white;
    .member {
        .name {
            color: white;
        }
        .image-wrapper {
            width: 45%;
        }
    }
}
