@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$page-color: $about-color;

@include page-colors($page-color);

body {
    color: #5A5D66;
    font-size: 18px;

    .main-content,
    .expandable-section {
        a {
            color: $page-color;
            &:hover {
                color: darken($page-color, 10%);
            }
        }   
    }

    .main-content {
        text-align: justify;
        &,
        p {
            font-weight: 400;
        }
        h2 {
            color: #404148;
            margin: 10px 0;
        }
    }
    .expandable-section {
        color: #c8ccd2;
        text-align: justify;
        line-height: 150%;
        font-weight: 300;
        >div {
            padding-top: 100px;
        }
    }
    @include expandable-sections-button-colors($page-color);
    @media (max-width: 1420px) {
        .expandable-button {
            margin-top: 10px;
        }
        .expandable-button-active:after {
            display: none;
        }
    }
}