@import 'cemex-css/mixins.scss';
@import 'cemex-css/variables.scss';

@include page-colors($products-and-services-color);
@include expandable-sections-button-colors($products-and-services-accent-color);

.expandable-sections {
    background-color: white;
    color: black;
    border-top: 1px solid #333;
}

.expandable-section {
    color: black;
}
.expandable-button-active:after {
    display: none;
}
