@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $investors-color;
$accent-color: $investors-accent-color;
$background-color: $investors-background-color;
$border-color: $investors-border-color;

$clear: $investors-clear-color;

@include key-statistics($background-color);
@include page-colors($color, $clear);
@include page-hero($color, $accent-color);
@include close-x-button('page', $investors-clear-color);
@include expandable-sections-button-colors($color);

.hero-button a:hover {
    color: $clear;
}

.expandable-sections {
    ul {
        list-style: none;
        padding: 30px 0;
    }
    ul li {
        border: solid;
        border-width: 1px 0 0 0;
        border-color: $clear;
        padding: 30px 0;
    }
    ul li:first-child {
        border: none;
    }
    ul li .date {
        font-size: 16px;
        font-weight: 400;
    }
    ul li .title {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    ul li .icons {
        margin-top: 20px;
    }
}


#corporate-governance:after {
    content: "";
    display: block;
    clear: both;
}
#corporate-governance a {
    color: $color;
    font-size: 30px;
    line-height: 80px;
    @include transition(all 0.5s ease);
}
#corporate-governance a:hover {
    opacity: 0.6;
    @include transform(translate(6px, 0));
}
.section-color-background {
    background-color: $background-color;
}
.archive-button-wrapper {
    text-align: right;
}
.archive-button {
    color: $clear;
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: -70px;
    letter-spacing: 1px;
    @include transition(all 0.4s ease);
}
.archive-button:hover {
    color: #fff;
}
.archive-button i {
    font-size: 20px;
}

@include media-large {
    #corporate-governance a {
        font-size: 26px;
        line-height: 60px;
    }
}

@include media-medium {
    #corporate-governance a {
        font-size: 24px;
    }
}

@include media-small {
    #corporate-governance a {
        font-size: 20px;
    }
}

.questions {
    .hero-text {
        font-weight: 700;
        font-size: 75px;
        margin-left: -3px;
    }
    h2 {
        @include font-style($h2-font-size, bold);
    }
}

.page-banner {
    border-color: $color;
}

a {
    color: $clear;
    &:hover {
        color: white;
    }
}
.expandable-section {
    p {
        color: #c8ccd2;
    }
    a {
        color: $clear;
        &:hover {
            color: white;
        }
    }
}

.stock-ticker-investor-container {
    height: 30vh;
    .tab-content {
        height: calc(100% - 83px);
        @include display(flex);
        @include align-items(center);
        .tab-pane {
            width: 100%;
        }
    }

    @media (min-width: 1600px) {
        .stock-ticker-web & {
            .market-price-large {
                font-size: 140px;
            }
            .market-price-small {
                font-size: 60px;
            }
        }
    }
}

.blue-box {
    .col-xs-12 {
        height: 30vh;
        @include display(flex);
        @include align-items(center);
    }
    .content {
        text-align: center;
        padding-top: 0;
        padding-bottom: 40px;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        max-height: 100%;
    }
    h1 {
        font-size: 100px;
    }
}

.hero-square img {
    max-height: calc(30vh - 39px);
}