@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $key-company-color;
$background-color: $key-company-background-color;
$border-color: $key-company-border-color;
$clear: $key-company-clear-color;
$accent-color: $key-company-accent-color;

@include key-statistics($background-color);
@include page-colors($color, $clear);
@include close-x-button('page', $key-company-clear-color);
@include expandable-sections-button-colors($color);

.expandable-section {
	a {
		color: $key-company-clear-color;
	}
}
