@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $life-color;
$accent-color: $life-accent-color;
$background-color: $life-background-color;
$border-color: $life-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.rewards {
    background: $accent-color;
    color: white;
    padding: 80px 0;
}

@media (min-width: 768px) {
    .col-7 {
        width: 14.28%;
        display: inline-table;
    }
}

.stat-wrapper {
    @include transition(all 0.5s ease);

    &:hover {
        @include transform(scale3d(1.03, 1.03, 1));
    }
}

.column {
    position: relative;
    &.column-left {
        padding-right: 30px;
        @include media-small {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &.column-right {
        padding-left: 30px;
        @include media-small {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.text {
    min-height: 200px;
    text-align: justify;
    p {
        padding: 0;
    }
    .photo {
        float: left;
        height: 200px;
        margin-right: 10px;
    }
    padding-bottom: 10px;
}

.right {
    float: right;
}

.expandable-button-active:after {
    display: block;
}


.hidden-xs {
    .expandable-button-wrapper {
        margin-left: 30px;
    }
}

.expandable-section {
    padding: 0;
}

.expandable-sections {
    min-height: 0;
    margin-bottom: 30px;
}

@include media-small {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

#content-footer-wrapper {
    height: calc(100% - 60px);
}

.has-control-menu #wrapper {
    max-height: 100%;
}