@import 'cemex-css/mixins.scss';
@import 'cemex-css/variables.scss';

@include page-colors($products-and-services-color);
@include key-statistics($products-and-services-accent-color);
@include expandable-sections-button-colors($products-and-services-accent-color);


.iframe-container {
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

    iframe:focus {
        outline: none;
    }

    iframe[seamless] {
        display: block;
    }

    iframe {
        width: 100%;
        border: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    @include media-large {
        margin-left: 10%;
        margin-right: 10%;
    }
    @include media-medium {
        margin-left: 0;
        margin-right: 0;
    }

}