@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$page-color: $about-color;

$font-color: #5A5D66;
$name-font-color: #333;

@include page-colors($page-color);

.management-team-members {
	padding: 30px 3%;
	color: $font-color;

	.row > div {
		border: 1px solid transparent;
	}

	.member {
		margin: 20px 10%;

		.image-wrapper {
			max-width: 400px;
			width: 100%;
			border: 1px solid #EEE;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);

			.image {
				width: 100%;
				padding-bottom: 150%;
			}
		}

		.name {
			@include font-style(20px, 500);
			margin-top: 10px;
			color: $name-font-color;
		}

		.role {
			@include font-style(16px, 400);
			margin-top: 5px;
		}

		.description {
			@include font-style(16px, 300);
			margin-top: 20px;
			text-align: justify;
		}

		@include media-medium {
			text-align: center;

			.image-wrapper {
				max-width: 300px;
				margin: 0 auto;
			}
		}

	}

	@include media-small {
		padding-left: 0;
		padding-right: 0;

		.member {
			margin: 20px 5%;
		}
	}

}
