@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $media-color;
$accent-color: $media-accent-color;
$background-color: $media-accent-color;
$border-color: $media-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include key-statistics($background-color);
@include expandable-sections-button-colors($hover-color: $color,
    $active-background-color: $background-color,
    $active-border-color: $border-color,
    $active-hover-background-color: $background-color,
    $active-hover-border-color: $border-color);


.hero-square, .key-statistics {
    h3,
    h4,
    h5,
    h6,
    p {
        color: $accent-color;
    }
}

.blue-box {
    color: white;
    background-color: $gray-blue-box-color;
    .hero-square-link {
        background-color: $gray-blue-secondary-color;
    }

    h3,
    h4,
    h5,
    h6,
    p {
        color: $gray-blue-secondary-color;
    }
}

.gray-content {
    background-color: #333333;
    h2, h3 {
        color: white;
    }
    p, ol {
        color: #ccc;
    }

    a {
        color: $media-link-color;
        &:hover, &:focus {
            color: white;
        }
    }

    :not(.expandable-section).container.content {
        border-top: none !important;
    }
}

.media-title {
    text-align: center;
    padding-bottom: 15px;
}

.media-image {
    text-align: center;
    padding-bottom: 15px;
}

.media-description {
    text-align: justify;
    padding: 0 15px;
    @include media-medium {
        text-align: center;
    }
}

.social {
    color: black;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;

    .column {
        width: 20%;
        @include media-medium {
            width: 100%;

        }
    }

}

.expandable-section {
    a {
        color: $media-link-color;
        &:hover {
            color: $color;
        }
    }
}