@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $about-color;
$accent-color: $about-accent-color;
$background-color: $about-background-color;
$border-color: $about-border-color;

@include page-colors($color);
@include expandable-sections-button-colors($color);

.country-info {
    p {
        font-size: $feature-description-font-size;
    }
    padding-bottom: 30px;
}

.global-info {
    padding-top: 30px;
}

.address {
    p {
        padding-bottom: 0;
    }
    padding-bottom: 30px;
}

.table {
    th {
        color: white;
        @include linear-gradient(#aaa, #a3a3a3, $fallback: transparent);
    }
    tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    tr:nth-child(even) {
        background-color: #ddd;
    }
}

.table-footer {
    font-size: $feature-description-font-size;
}

.cemex-microsite {

    .expandable-section {
        list-style: none;
        padding: 20px 0;
    }
    .expandable-section .row {
        border: solid;
        border-width: 1px 0 0 0;
        border-color: $border-color;
        padding: 30px 0;
    }
    .expandable-section .row:first-child {
        border: none;
    }
    .expandable-section .row .date {
        font-size: 16px;
        font-weight: 400;
    }
    .expandable-section .row .title {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .expandable-section .row .icons {
        margin-top: 20px;
    }
    .feed-image-container {
        height: 160px;
        width: 160px;
    }
    .feed-image {
        margin-right: 30px;
        margin-bottom: 20px;
        float: right;
        img {
            max-width: none;
            min-width: 100%;
            min-height: 100%;
        }
    }
    @include media-small {
        .feed-image {
            float: left;
        }
    }
}

#content-footer-wrapper {
    height: calc(100% - #{$theme-header-secondary-navigation-height});
}
