@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $about-color;
$accent-color: $about-accent-color;
$background-color: $about-background-color;
$border-color: $about-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($hover-color: $color,
    $active-background-color: $background-color,
    $active-border-color: $border-color,
    $active-hover-background-color: $background-color,
    $active-hover-border-color: $border-color);

.blue-box {
    color: #BBB;
    background-color: $gray-box-color;
    .hero-square-link {
        background-color: $gray-box-secondary-color;
    }
    .content {
        text-align: center;
    }
}

.column {
    padding: 30px 30px 0 30px !important;
    position: relative;
}

.company-value {
    padding: 30px !important;
    h3 {
        color: $color;
        text-decoration: underline;
        font-weight: bold;
    }
}

.image-separator {
    width: 100%;
    height: 150px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.hidden-xs {
    .expandable-button-wrapper {
        margin-left: 30px;
    }
}

.expandable-section {
    padding: 0;
}

.expandable-sections {
    min-height: 0;
}

@include media-small {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.global-presence {
    background-color: $background-color;
    color: white;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

iframe {
    width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 820px;

    padding-right: 20px;
    height: 700px;
    padding-bottom: 20px;

    @include media-small {
        height: calc(100vh + 100px);
    }
}