@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $media-color;
$accent-color: $media-accent-color;
$background-color: $media-accent-color;
$border-color: $media-border-color;

@include page-colors($color, $border-color);
@include expandable-sections-button-colors($hover-color: $color,
    $active-background-color: $background-color,
    $active-border-color: $border-color,
    $active-hover-background-color: $background-color,
    $active-hover-border-color: $border-color);

$contents-sides-padding: 100px;

@mixin contents-sides-padding($padding) {
    .expandable-sections {
        @include padding-sides($padding);
    }
}

.expandable-buttons {
    margin: 0 auto;
    margin-top: 20px;
}

.expandable-section {
    > div {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        padding-top: 10px;
    }

    a {
        text-decoration: underline;
        color: $media-link-color;
        &:hover {
            color: $color;
        }
    }
}
