@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $investors-color;
$accent-color: $investors-accent-color;
$background-color: $investors-background-color;
$border-color: $investors-border-color;

$clear: $investors-clear-color;

@include page-colors($color, $background-color);
@include close-x-button('page', $clear);
@include expandable-sections-button-colors($color);

.expandable-sections {
    background-color: white;
    color: black;
    border-top: 1px solid #333;
}

.expandable-section {
    color: black;
    a:hover {
        color: $color;
    }
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

iframe {
    min-width: 1000px;

}

.max1000 {
    min-width: 0px;
    max-width:1000px;
}

.iframe-container {
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    @include media-large {
        margin-left: 10%;
        margin-right: 10%;
    }
    @include media-medium {
        margin-left: 0;
        margin-right: 0;
    }
}