@import 'cemex-css/mixins.scss';
@import 'cemex-css/variables.scss';

@include page-colors($products-and-services-color);


.first-content {
    color: white;
    background-color: $products-and-services-accent-color;

    hr {
        border-color: $products-and-services-color;
    }

    h3 {
        font-size: 24px;
        font-weight: 400;
    }
}

.first-content,
.second-content {
    padding: 40px 0;
}

.subsections {
    padding-top: 40px;
}

.subsections,
.second-content {
    color: white;
    background-color: #333;
}

.feed-image-container {
    height: 160px;
    width: 160px;
}

.feed-image {
    img {
        max-width: 100%;
        max-height: 100%;
    }
    @include media-small {
        float: left;
    }
}