@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $sitemap-color;
$accent-color: $sitemap-accent-color;
$background-color: $sitemap-background-color;
$border-color: $sitemap-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.link-row {
    padding-bottom: 30px;
}

.main-page {
    color: black;
    font-weight: 600;
    line-height: 1.5em;
}

.sub-page {
    color: $color;
    &:hover {
        color: $accent-color;
    }
}

.space {
    padding-left: 10px;
}

.fa.fa-angle-double-right {
    padding-right: 5px;
}

.container {
    padding-top: 50px;
}

#content-footer-wrapper {
    height: calc(100% - 60px);
}

.has-control-menu #wrapper {
    max-height: 100%;
}