@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $suppliers-color;
$accent-color: $suppliers-accent-color;
$background-color: $suppliers-background-color;
$border-color: $suppliers-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.hero-square, .key-statistics {
    h3,
    h4,
    h5,
    h6,
    p {
        color: $accent-color;
    }
}

.content {
    padding-top: 50px;
}

.expandable-button {
    &:hover {
        color: $accent-color;
    }
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

iframe {
    width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.iframe-container {
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    @include media-large {
        margin-left: 10%;
        margin-right: 10%;
    }
    @include media-medium {
        margin-left: 0;
        margin-right: 0;
    }
}