@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $investors-color;
$accent-color: $investors-accent-color;
$background-color: $investors-background-color;
$border-color: $investors-border-color;

@include key-statistics($background-color);
@include page-colors($color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.expandable-sections {
    background-color: white;
    color: black;
    border-top: 1px solid #333;
}

.expandable-section {
    color: black;
}

.stock-iframe {
    border: none;
    height: 1300px;
    width: 100%;
    @include media-small {
        height: 2300px;
    }
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}
