@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $media-color;
$accent-color: $media-accent-color;
$background-color: $media-background-color;
$border-color: $media-border-color;

@include page-colors($color);

.cemex-media-center {
    .publish-date {
        color: $accent-color;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .media-featured {
        height: 1000px;
        overflow: hidden;
        position: relative;
        margin-top: -1px
    }
    #media-hero-bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        @include transition(all 0.7s ease-out);
    }
    #media-hero-content {
        position: absolute;
        top: 50%;
        @include transform(translate(0, -50%));
        padding-left: 100px;
    }
    #hero-button {
        display: inline-block;
        border: solid;
        color: #fff;
        margin-top: 10px;
        padding: 0 16px;
        letter-spacing: 3px;
        border-width: 1px;
        height: 38px;
        margin-right: 51px;
        background-color: rgba(0, 0, 0, 0.3);
        @include transition(background-color 0.5s ease-out);
        cursor: pointer;
        border-color: $border-color;
    }
    #hero-button:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #hero-button:hover span {
        @include transform(translate(5px, 0));
    }
    #hero-button span {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        line-height: 38px;
        cursor: pointer;
        @include transition(transform 0.5s ease-out);
    }
    #hero-button i {
        font-size: 18px;
        vertical-align: middle;
        margin-left: 50px;
        display: inline-block;
        line-height: 38px;
        margin-top: -2px;
    }
    .hero-active {
        background-color: rgba(255, 255, 255, 0.4) !important;
        @include transform(scale3d(1.02, 1.02, 1) !important);
        @include filter(grayscale(60%));
        @include transition(transform 0.7s ease-out 0s, all 0.7s ease-out 0s);
    }
    #media-hero {
        height: 600px;
        h1 {
            color: #fff;
            font-size: 100px;
            font-weight: 700;
            letter-spacing: -1px;
            margin-left: -6px;
            line-height: 88%;
        }
        p {
            margin-top: 14px;
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            line-height: 150%;
            max-width: 800px;
            text-align: justify;
        }
    }
    .feature-description:hover~.feature-image-wrapper>.feature-image {
        background-color: rgba(255, 255, 255, 0.4);
        @include transform(scale3d(1.02, 1.02, 1));
        @include filter(grayscale(60%));
        @include transition(transform 0.7s ease-out 0s, all 0.7s ease-out 0s);
    }
    .feature-image-wrapper {
        height: 600px;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        z-index: 100;
        top: 0;
        width: 100%;
    }
    .feature-image {
        height: inherit;
        @include transition(all 0.7s ease-out);
        img {
            min-width: 100%;
        }
    }
    .feature-description-container {
        &:before {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            right: -1000px;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.0);
            @include transition(all 0.7s ease-out);
        }
        &:hover:before {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .feature-description {
        height: 330px;
        padding: 40px;
        cursor: pointer;
        position: absolute;
        margin-top: 600px;
        overflow: hidden;
        margin-bottom: 70px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        h2 {
            margin-bottom: 10px;
        }
        p {
            text-align: justify;
            @include font-style($feature-description-font-size, 400, 1.7em);
        }
    }
    .featured-3 {
        .feature-description {
            margin-top: 0;
            height: 300px;
        }
    }
    .featured-3 .feature-image-wrapper {
        bottom: 0;
        top: auto;
        top: initial;
    }
    .feature-arrow {
        position: absolute;
        z-index: 101;
        bottom: 24px;
        right: 24px;
    }
    .feature-tweet {
        height: 400px;
        padding: 40px;
        position: relative;
        cursor: pointer;
    }
    .feature-tweet:before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        right: -1000px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.0);
        @include transition(all 0.7s ease-out);
    }
    .feature-tweet:hover:before {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .feature-tweet h1 {
        font-weight: 400;
        position: relative;
        top: 50%;
        @include transform(translate(0, -40%));
        font-size: 38px;
    }
    .feature-image-link {
        position: absolute;
        z-index: 102;
        bottom: 20px;
        left: 20px;
        color: #fff;
        font-weight: 700;
        font-size: 40px;
        @include transition(all 0.5s ease);
    }
    .feature-image-link:hover {
        opacity: 0.7;
        color: #fff;
    }
    .feature-image-link:hover~.feature-image-wrapper>.feature-image {
        background-color: rgba(255, 255, 255, 0.4);
        @include transform(scale3d(1.02, 1.02, 1));
        @include filter(grayscale(60%));
        @include transition(transform 0.7s ease-out 0s, all 0.7s ease-out 0s);
    }
    .feature-image-link img {
        width: 24px;
        height: 24px;
        margin-left: 20px;
    }
    .feature-tweet .feature-tweet-logo {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .featured-1 {
        background-color: #333333;
        color: #fff;
    }
    .featured-2 {
        background-color: #808080;
        color: #111;
    }
    .featured-2 .feature-description p {
        display: none;
    }
    .featured-3 {
        background-color: $background-color;
        color: #111;
    }
    .featured-3 .feature-image {
        background-image: url(../images/mediaCenter/feature-3.jpg);
    }
    .featured-4 {
        background-color: #666666;
        color: #fff;
    }
    .featured-4 .feature-image {
        background-image: url(../images/mediaCenter/feature-4.jpg);
    }
    .featured-5 {
        background-color: #808080;
        color: #111;
    }
    .featured-5 .feature-image {
        background-image: url(../images/mediaCenter/feature-5.jpg);
    }
    .featured-5 .feature-description p {
        display: none;
    }
    .featured-6 {
        background-color: #333333;
        color: #fff;
    }
    .featured-6 .feature-image {
        background-image: url(../images/mediaCenter/feature-6.jpg);
    }
    .filter-selector {
        float: right;
        width: 165px;
    }
    .active-selection {
        height: 60px;
        line-height: 60px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 0 40px 0 24px;
        border: solid;
        border-width: 0 0 0 1px;
        border-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        position: relative;
        cursor: pointer;
        @include transition(all 0.5s ease-out);
        overflow: hidden;
        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
        &:after {
            content: "";
            display: block;
            height: 4px;
            width: 0;
            background-color: $background-color;
            position: absolute;
            left: -1px;
            bottom: 1px;
            @include transition(width 0.3s ease-out);
        }
        span {
            display: inline-block;
        }
        i {
            font-size: 17px;
            @include transform(rotate(90deg));
            display: inline-block;
            margin-left: 10px;
            margin-top: -7px;
            position: absolute;
            top: 50%;
            right: 20px;
        }
    }
    .filter-selector:hover .selection-options {
        max-height: 1000px;
        opacity: 0.9;
        visibility: visible;
    }
    .filter-selector:hover .active-selection:after {
        width: calc(100% + 1px);
    }
    .selection-options {
        position: absolute;
        border: solid;
        border-width: 0 1px 1px 1px;
        border-color: #333;
        margin-top: -1px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        @include transition(all 0.3s ease-out);
        max-height: 0;
        opacity: 0.5;
        height: auto;
        overflow: hidden;
        visibility: hidden;
        width: inherit;
    }
    #media-filter {
        height: 60px;
        background-color: #1A1A1A;
    }
    #media-filters-container {
        position: absolute;
        z-index: 200;
        right: 0;
        height: 100%;
        ul {
            background: #1A1A1A;
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            width: inherit;
        }
        li {
            height: 40px;
            border: solid;
            border-width: 1px 0 0 0;
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 40px;
            font-weight: 400;
            color: #fff;
            border-color: #333;
            margin-left: 24px;
            margin-right: 24px;
            @include transition(all 0.3s ease);
            cursor: pointer;
            width: auto;
            &:first-child {
                border: none;
            }
            &:hover {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
    .mobile-secondary-page-active:after {
        background-color: $background-color;
    }
    .breadcrumb {
        background-color: white;
        padding: 8px 0px;
        margin-top: 20px;
        margin-bottom: 0;
        a {
            color: gray;
        }
        font-size: 14px;
    }
    .breadcrumb-horizontal {
        >li+li {
            padding-left: 1.5em;
        }
        >li {
            margin-right: 1em;
        }
    }

    @include media-large {
        #media-hero-content {
            padding-left: 70px;
        }
        #media-hero h1 {
            font-size: 80px;
        }
        #media-hero p {
            max-width: 800px;
        }
        #media-hero {
            height: 500px;
        }
        .media-featured {
            height: 700px;
        }
        .feature-image-wrapper {
            height: 400px;
        }
        .feature-description {
            height: 210px;
            margin-top: 400px;
        }
        .feature-tweet {
            height: 210px;
            margin-top: 0;
        }
        .feature-description h1,
        .feature-image-link {
            font-size: 30px;
        }
        .feature-tweet h1 {
            font-size: 30px;
            @include transform(translate(0, -60%));
        }
    }

    @include media-medium {

        @media (orientation:portrait) {
            #media-hero p {
                max-width: 600px;
            }
        }

        .feature-description h1,
        .feature-image-link {
            font-size: 28px;
        }
        .feature-description {
            padding: 40px 24px 24px 24px;
        }
    }

    @include media-small {
        #media-hero-content {
            padding-left: 30px;
        }
        #media-hero h1 {
            font-size: 50px;
        }
        #media-hero p {
            max-width: calc(100vw - 60px);
        }
        .media-featured {
            height: auto;
        }
        .feature-description h1,
        .feature-image-link {
            font-size: 26px;
        }
        .feature-description {
            position: relative;
            margin-top: 300px;
            height: 330px;
            padding-bottom: 60px;
        }
        .feature-image-wrapper {
            height: 300px;
        }
        .feature-tweet {
            padding: 24px;
        }
        .featured-3 {
            .feature-description {
                height: 600px;
            }
        }
        .featured-2 .feature-description p {
            display: block;
        }
        .featured-5 .feature-description p {
            display: block;
        }
        .active-selection {
            letter-spacing: 0;
            padding: 0;
            span {
                margin-right: 25px;
                margin-left: 10px;
            }
            i {
                margin-left: 5px;
                right: 10px;
            }
        }
        .selection-options {
            right: 0;
            width: 100%;
        }
        .filter-selector {
            width: auto;
        }
    }

    .youtube {
        background-color: black;
    }

}

#featured-stories .owl-wrapper,
#featured-stories .owl-wrapper-outer,
#featured-stories .owl-item {
    height: 100%;
}

#feature-stories-component .owl-controls .owl-page span {
    background-color: #ccc;
    width: 12px;
    height: 12px;
    opacity: 0.99 !important;
    @include transition(all 0.4s ease-out);
}

#feature-stories-component .owl-controls .owl-page.active span,
#feature-stories-component .owl-controls.clickable .owl-page:hover span {
    background: $color;
}

#feature-stories-component .owl-controls .owl-page:not(.active) span:hover {
    @include transition(none);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7);
}

#featured-stories #progressBar {
    height: 6px;
    background-color: $color;
}

#featured-stories #progressBar #bar {
    height: 6px;
    background-color: $accent-color;
}

.image-subtitle {
    p {
        margin-top: 0;
        font-size: $image-subtitle-font-size;
        text-align: center;
        padding-bottom: 0;
        font-weight: 400;
    }
}

.image-subtitle.hide-subtitle {
    display: none;
}

a {
	color: $media-link-color;
    &:hover {
        color: $accent-color;
    }
}

/* Gallery - Begin */


.mfp-img {
    padding: 0 0 40px 0 !important;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
    @include transition(all 0.3s ease-out);
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-close {
    font-size: 80px !important;
}

.mfp-title {
    margin-top: 0 !important;
    font-size: $image-subtitle-font-size !important;
    text-align: center !important;
    padding-bottom: 0 !important;
    font-weight: 400 !important;
    p {
        margin-top: 0;
        font-size: $image-subtitle-font-size;
        text-align: center;
        padding-bottom: 0;
        font-weight: 400;
    }
}

/* Gallery - End */

.related-stories {
    display: none;

    > h2 {
        font-size: 20px;
        text-align: right;
    }
}

.related-stories-container {
    .portlet {
        padding-left: 80px;
    }

    .related-stories {
        display: block;
        margin-bottom: 40px;
    }
}

.related-story {
    border-top: 1px solid #999;
    margin-bottom: 40px;
    padding-top: 30px;

    &:first-child {
        border-top: none;
    }

    .image-wrapper {
        max-width: 200px;
        position: relative;
        margin-left: auto;
    }

    h3 {
        font-size: 14pt;
        line-height: 14pt;
    }

    p {
        font-size: 12pt;
        line-height: 13pt;
        padding-bottom: 5px;
    }

    .title,
    .summary {
        text-align: right;
    }

    .title,
    .summary,
    .go-to-page-button {
        margin: 7px 0;
    }


    .go-to-page-button {
        > div {
            margin-left: auto;
            display: table;
        }

        a {
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            height: 38px;
            width: 120px;
            padding-left: 5px;
            padding-right: 5px;
            border: solid;
            border-width: 1px;
            color: #111;
            margin-top: 10px;
            line-height: 1em;
            text-align: center;
            font-weight: 900;
            @include transition(all 0.3s ease);

            display: table-cell;
            vertical-align: middle;

            &:hover {
                background-color: #DDD;
            }

            @include media-small {
                margin: 0;
            }
        }
    }
}

@mixin horizontal-related-stories() {

    $side-padding: 40px;

    &.related-stories-container .portlet {
        padding-left: 0;
        margin-top: 40px;
    }

    .related-stories {
        width: 100%;

        > h2 {
            font-size: 20px;
            text-align: left;
            padding-left: 40px;
        }
        > div {
            display: table;
            width: 100%;
        }
    }

    .related-story {
        display: table-cell;
        width: 33.33333333%;
        border: none;
        border-right: 1px solid gray;
        position: relative;
        padding: 0;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border-right: none;
        }

        .content-wrapper {
            margin: 0 $side-padding;
        }

        .image-wrapper,
        .title-summary,
        .go-to-page-button {
            float: left;
        }

        .image-wrapper {
            width: 45%;
            margin-top: 10px;

            .frame {
                padding-bottom: 133%;
            }
        }

        .title-summary {
            width: 55%;
            padding-left: 5px;
            &::after {
                content: "";
                height: 40px;
                display: block;
                visibility: hidden;
            }
        }

        .title {
            margin-bottom: 0;
        }

        .summary {
            margin-bottom: 0;
        }

        .go-to-page-button {
            margin: 0;
            position: absolute;
            bottom: 0;
            right: $side-padding;
            width: auto;
        }
    }
}

@mixin horizontal-related-stories-small-space() {
    .related-stories {
        .image-wrapper,
        .title-summary {
            width: 100%;
        }
    }

    .related-story {
        .image-wrapper {
            .frame {
                padding-bottom: 75%;
            }
        }
    }
}

.horizontal {
    @include horizontal-related-stories;
}

@include media-medium {
    @include horizontal-related-stories;
    @include horizontal-related-stories-small-space;
}

@include media-large {
    .horizontal {
        @include horizontal-related-stories-small-space;
    }
}


@include media-small {
    .horizontal .related-story,
    .related-story {
        display: block;
        width: 100%;
        border-right: 0;
        border-top-width: 1px;
        border-top: 1px solid #999;
        padding: 30px;

        .image-wrapper,
        .title,
        .summary,
        .go-to-page-button {
            text-align: center;
            display: block;
            width: 100%;
        }
        .image-wrapper,
        .title-summary,
        .go-to-page-button {
            float: none;
        }

        .go-to-page-button {
            position: static;
            position: initial;

            > div {
                margin: 0 auto;
            }
        }

        .title-summary {
            &::after {
                display: none;
            }
        }

        .image-wrapper {
            max-width: 300px;
            margin: 0 auto;
        }

        .image-wrapper,
        .title-summary {
            width: 100%;
        }
    }
}

.ie .featured-3 .feature-image-wrapper {
    bottom: 0;
    top: auto; // Fix for IE content and image alignment issue
}