@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $suppliers-color;
$accent-color: $suppliers-accent-color;
$background-color: $suppliers-background-color;
$border-color: $suppliers-border-color;

@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.hero-square, .key-statistics {
    h3,
    h4,
    h5,
    h6,
    p {
        color: $accent-color;
    }
}

.content {
    padding-top: 50px;
}

.blue-box {
    color: white;
    background-color: $red-box-color;
    .hero-square-link {
        background-color: $red-box-secondary-color;
    }
}

.expandable-button {
    &:hover {
        color: $accent-color;
    }
}

.expandable-form {
    color: #c8ccd2;
    background-color: #333333;
    display: block;

    .btn-primary {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        height: 38px;
        width: 170px;
        padding-left: 5px;
        padding-right: 5px;
        border: solid;
        border-width: 1px;
        color: #111;
        margin-top: 10px;
        line-height: 1em;
        text-align: center;
        font-weight: 900;
        @include transition(all 0.3s ease);

        display: table-cell;
        vertical-align: middle;

        background-color: white;
        border-color: #111;

        margin-bottom: 30px;
        border-radius: 0;
        &:hover {
            background-color: #ccc;
            color: $accent-color;
            border-color: $border-color;
        }
        &:active, &:focus {
            background-color: $background-color;
            color: white;
        }
    }

    .form-control {
        border-radius: 0;
    }

    .portlet-forms {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 1170px;
        max-width: 100%;

        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }

        @include media-large {
            width: 970px;
        }
        @include media-medium {
            width: 750px;
        }
        @include media-small {
            width: 100%;
        }
    }
}

.ideas-bank {
    padding-bottom: 50px;
}

.background-dark {
    a {
        color: $color;
    }
    &:hover, &:focus {
        color: white;
    }
}