@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $sustainability-color;
$accent-color: $sustainability-accent-color;
$background-color: $sustainability-background-color;
$border-color: $sustainability-border-color;

@include key-statistics($background-color);
@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.hero-square, .key-statistics {
    h3,
    h4,
    h5,
    h6,
    p {
        color: $accent-color;
    }
}

.content {
    padding-top: 50px;
}

.key-statistics .column {
    &:after {
        background-color: $accent-color;
    }
    @include media-small {
        border-color: $accent-color;
    }
}

tr {
    background: #333 !important;
}
