@import 'cemex-css/variables.scss';
@import 'cemex-css/mixins.scss';

$color: $sustainability-color;
$accent-color: $sustainability-accent-color;
$background-color: $sustainability-background-color;
$border-color: $sustainability-border-color;

@include key-statistics($background-color);
@include page-colors($color, $border-color);
@include page-hero($color, $accent-color);
@include expandable-sections-button-colors($color);

.expandable-sections {
    background-color: white;
    color: black;
    border-top: 1px solid #333;
}

.expandable-section {
    color: black;
}