@import 'cemex-css/mixins.scss';
@import 'cemex-css/variables.scss';

@include page-colors($products-and-services-color);
@include key-statistics($products-and-services-accent-color);
@include expandable-sections-button-colors($products-and-services-accent-color);

a {
    color: $products-and-services-color;
    &:hover {
        color: white;
    }
}