
#stock-ticker-component {
  transition: all 0.3s ease-in;
}


#stock-ticker-component .stock-market {
  height: 40px;
}

#stock-ticker-component .stock-market:after {

  content: "";
  display: block;
  clear: both;

}

#stock-ticker-component #BMV {
  background-color: rgba(0,0,0,0.2);
}


#stock-ticker-component .ticker-stock-label {
  float: left;
  color: rgba(255,255,255,0.9);
  line-height: 40px;
  margin-left: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
}

#stock-ticker-component img {
  float:right;
  margin-top: 13px;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  opacity: 0.5;
}

#stock-ticker-component .stock-value-text {
  float:right;
  color: rgba(255,255,255,0.9);
  line-height: 40px;
  margin-right: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}
