/* ==========================================================================
    Search
========================================================================== */

#search {
    float: right;
    line-height: 55px;
    text-align: left;
    vertical-align: top;
}

#search-component {
    width: 40px;

}

#search-component #search-icon {
    display: inline-block;
    width: 30px;
    font-weight: 100;
    font-size: 17px;
    cursor: pointer;
    transition: color 0.3s;
    color: #2c3e50;
    margin-top: 2px;
    -webkit-text-stroke: 1px white;
}


#search-component #search-form {
    display: inline-block;
    width: calc(100% - 90px);
    vertical-align: middle;
    margin-left: 5px;
}

#search-component #search-text-field-container {
    height: 30px;
    width: 100%;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
    line-height: 100%;
    color: #444;
}

#search-component #search-text-field {
    height: 30px;
    width: 100%;
    border: none;
    vertical-align: top;
    background: transparent;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 0 10px;
}

#search-component #close-search {
    background-image: url(../../images/search-close-grey.svg);
    width: 16px;
    height: 16px;
    float: right;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: cover;
    top: 23px;
    right: 20px;
    display: none;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
}

#search-component #close-search:hover {
    background-image: url(../../images/search-close-blue.svg);
    transition: all 0.3s;
}

#search-component input:focus {
    outline: none;
}

/* ==========================================================================
  Mobile  Search
========================================================================== */

#mobile-search #search-component {

}

#mobile-search {
    float: right;
    text-align: left;
    vertical-align: top;
    transition: width 0.5s;
    color: #fff;
    height: 52px;
}

#mobile-search:after {

  content: "";
  display: block;
  clear: both;
}

#mobile-search #search-icon {
  font-size: 22px;
  height: 55px;
  text-align: center;
}

/* Expandable Search */
div#search-component .icon-monospaced .lexicon-icon {
    display: none;
}

div#search-component .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}
/* End */
