.cemex-wrapper {
    /* ==========================================================================
       Layout Overrides
       ========================================================================== */
    .row {
        margin: 0;
        position: relative;
    }
    [class*='col-'] {
        padding: 0;
    }
    /* ==========================================================================
       Cemex custom styles
       ========================================================================== */
    body {
        background-color: #111;
        /* hide while loading, animated via jquery into final display */
        display: none;
        overflow: hidden;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
        -webkit-overflow-scrolling: touch;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    #main::-webkit-scrollbar {
        width: 10px;
    }
    #main::-webkit-scrollbar-track {
        background-color: #555;
        border-radius: 10px;
    }
    #main::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #999;
    }
    a:hover {
        text-decoration: none;
    }
    a:focus {
        text-decoration: none;
    }
    a {
        text-decoration: none;
    }
    /* ==========================================================================
       Header
       ========================================================================== */
    #header {
        padding: 0;
        top: 0;
        position: relative;
        /*changed*/
        z-index: $theme-header-z-index;
        white-space: nowrap;

        @include transform(translateZ(0));
        @include transition(all 0.5s ease-out);
    }
    .showHeader {
        top: 0 !important;
    }
    #header .header-container {
        background-color: #fff;
        min-height: 60px;
        color: #000;
        padding: 0;
        margin: 0;
        top: 0;
    }
    #header .company-logo {
        height: 60px;
        width: 120px;
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        padding-left: 10px;
        float: left;
    }
    #header .company-logo img {
        height: 28px;
    }
    #header .company-logo a:hover {
        opacity: 0.8;
    }
    #mobile-nav {
        display: none;
    }
    #country-selector {
        float: right;
        height: 60px;
        width: 80px;
    }
    #language-selector {
        float: right;
        height: 60px;
        min-width: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* ==========================================================================
       Footer
       ========================================================================== */
    footer {
        background-color: #1a1a1a;
        height: 40px;
        padding: 0;
        margin: 0 -1px 0 -1px;
        border: solid;
        border-width: 1px 0 0 0;
        text-align: left;
        border-color: rgba(255, 255, 255, 0.1);
    }
    nav.footer-navigation {
        float: left;
    }
    nav.footer-navigation a {
        font-size: 12px;
        display: inline-block;
        vertical-align: left;
        font-weight: 300;
        letter-spacing: 2px;
        margin-left: 20px;
        color: #fff;
        line-height: 38px;

        @include transition(color 1s);
    }
    nav.footer-navigation a:hover {
        color: #3FA9F5;

        @include transition(color 0.3s);
    }
    #social {
        text-align: right;

        @include media-query(null, $screen-sm-max) {
			text-align: center;
		}
    }
    #social .social-link {
        display: block;
        width: 18px;
        height: 18px;
        margin-top: 10px;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 20px;

        @include transition(all 0.5s ease);
    }
    #faceBookLink {
        background-image: url(../images/social/fb.svg);
    }
    #twitterLink {
        background-image: url(../images/social/twitter.svg);
    }
    #instagramLink {
        background-image: url(../images/social/instagram.svg);
    }
    #youtubeLink {
        background-image: url(../images/social/yt.svg);
    }
    #faceBookLink:hover {
        background-image: url(../images/social/fb-hover.svg);
    }
    #twitterLink:hover {
        background-image: url(../images/social/twitter-hover.svg);
    }
    #instagramLink:hover {
        background-image: url(../images/social/instagram-hover.svg);
    }
    #youtubeLink:hover {
        background-image: url(../images/social/yt-hover.svg);
    }
}