$button-hover-color: gray;
$button-hover-background-color: #e0e0e0;

$button-active-background-color: gray;
$button-active-border-color: gray;
$button-active-hover-color: white;

$expandable-sections-margin-top: 51px;

.expandable-button-wrapper {
    display: inline-block;
    margin: 0;

    @include media-small {
        margin: 0 !important;
    }
}

.expandable-button {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 38px;
    width: 166px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid;
    border-width: 1px;
    color: #111;
    margin-top: 10px;
    line-height: 1em;
    text-align: center;
    font-weight: 900;

    @include transition(all 0.3s ease);

    display: table-cell;
    vertical-align: middle;

    &:hover {
        color: $button-hover-color;
        background-color: $button-hover-background-color;
    }

    @include media-small {
        margin: 0;
    }
}

.expandable-button-active {
    color: #fff !important;
    background-color: $button-active-background-color;
    border-color: $button-active-border-color;
    position: relative;

    @include bottom-arrow($height: 22px, $color: #333, $translate-y: 59px);

    &:hover {
        color: $button-active-hover-color;
        background-color: $button-active-background-color;
        border-color: $button-active-border-color;
    }
}

.expandable-sections {
    background-color: #333;
    margin: $expandable-sections-margin-top auto 0 auto;
    color: #fff;
}

.expandable-section {
    display: none;
    color: #c8ccd2;

    text-align: justify;
    line-height: 150%;

    &, &.content {
        padding-bottom: 80px;
    }

    a {
        color: #2980B9;
        text-decoration: underline;
    }
}

.close-expandable-section {
    text-align: right;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 15px;
    z-index: 100;
}

@include media-large {
    .expandable-button {
        margin-top: 10px;
    }
}

/* Expandable buttons - begin */

@mixin apply($maxwidth) {
    max-width: $maxwidth;
    text-align: center;
    margin: auto;

    .expandable-button-active:after {
        display: none;
    }
}

@mixin clear($maxwidth) {
    max-width: $maxwidth;
    text-align: left;
    margin: 0;
}

.expandable-buttons {
    max-width: 1191px;
}

.expandable-buttons {
    @include clear(680px);
}

.expandable-buttons-4 {
    @include clear(680px);
    @media(max-width: 1023px) {//849
        @include apply(340px);
    }
}

.expandable-buttons-5 {
    @include clear(850px);
    @media(max-width: 1023px) { //849
        @include apply(510px);
    }
}

.expandable-buttons-6 {
    @include clear(1020px);
    @media(max-width: 1199px) { //1019
        @include apply(510px);
    }
}

.expandable-buttons-7 {
    @include clear(1191px);
    @media(max-width: 1329px) { //1190
        @include apply(680px);
    }
}

@media (max-width: 1023px) {
  .expandable-buttons {
     text-align: center;
     margin: auto;
  }
}


/* Expandable buttons - end */