
.item-list {

    .row {
        border-top: 1px solid gray;
        padding: 30px 0;

        &:first-child {
            border: none;
        }

        .feed-image {
            width: 160px;
            height: 160px;
            margin-right: 30px;
            margin-bottom: 20px;
            float: right;

            img {
                max-width: none;
                min-width: 100%;
                min-height: 100%;
            }
            
            @include media-small {
                float: left;
            }
        }
    }

}
