
/* ==========================================================================
    Language Selector
   ========================================================================== */

#language-selector .portlet-content-editable {
    border: none;
}

#language-selector-component {
    height: $theme-header-height;
    padding: 0;
    padding-right: 10px;
}

#language-selector-component .portlet-content-editable {
    border-bottom: 0;
}

#language-selector-component .sub-menu ul li {
    list-style: none;
    padding: 0;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #e4e4e4;
    height: 40px;
    margin: 0 10px;

    @include transition(all 0.5s ease-out);

    min-width: 75px;
   }

#language-selector-component .sub-menu {
    max-height: 0;
    height: auto;
    overflow: hidden;
    display: block;
    z-index: 1000;
    position: absolute;
    right: -10px;
    top: 100%;
    margin-left: -10px;
}

#language-selector-component .options-wrapper {
    padding: 10px;
    text-align: left;
    border: solid;
    border-width: 1px 0 0 0;
    border-color: #eee;
    border-radius: 0 0 1px 1px;
    background-color: #f7f7f7;
    margin: 0 10px 16px 10px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    padding-bottom: 10px;
}

#language-selector-component .options-wrapper:after {
    content: "";
    display: block;
    clear: both;
}

#language-selector-component .selected-option:after {
    content: "";
    display: block;
    height: 4px;
    bottom: 0;
    background-color: #ccc;
    margin-top: 3px;
    @include transition(all 0.7s ease-out);
    width: 0;
    opacity: 0;
    position: relative;
    z-index: 999;
}

#language-selector-component .selected-option:hover:after {
    width: 100%;
    @include transition(all 0.2s ease-out);
    opacity: 1;
}

#language-selector-component .selected-option {
    color: #000;
    @include transition(color 1s ease-out);
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    height: 38px;
    font-size: 14px;
    text-align: right;
    padding-top: 20px;
    text-transform: uppercase;
}

#language-selector-component .selected-option:hover {
    color: #999;
    @include transition(color 0.3s ease-out);
}

#language-selector-component .selected-option.active-link {
    color: #999;
}

#language-selector-component .selected-option.active-link:after {
    width: 100%;
    opacity: 1;
}

#language-selector-component .option {
    display: block;
    font-size: 10px;
    padding: 0;
    color: #868686;
    letter-spacing: 1px;
    clear: both;
    @include transition(all 0.5s);
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

#language-selector-component li:hover a{
    color: #111;

}

#language-selector-component .sub-menu-left-column {
    display: inline-block;
    border: solid;
    border-width: 0 1px 0 0;
    border-color: #e4e4e4;
    padding-right: 10px;
    margin-right: 10px;
    padding-left: 0;
    vertical-align: top;
}

#language-selector-component .sub-menu-right-column {
    display: inline-block;
    vertical-align: top;
    padding: 0
}


#language-selector-component .sub-menu-left-column:last-child {
    border: none;
    margin-right: 0;
    padding-right: 0;
}



#language-selector-component {
    .sub-menu {
        @include transition(all 0.2s);
    }
}

#language-selector-component {
    &.open {
        .sub-menu {
            @include transition(all 0.5s);
            max-height: 800px;
        }
    }
}

@include media-medium {
    #language-selector {
        margin-right: 50px;
    }
}
