@import "mixins/media-queries.mixin.scss";

@media (min-width: 1200px) {
    .container {
        max-width: 1340px;
        width: auto;
    }
}

.cemex-wrapper {

    @include media-large {
        #language-selector {
            width: 60px;
        }
        #search-component #search-icon {
            margin-top: 0;
            line-height: 60px;
        }
        #secondary-navigation a {
            margin: 0 15px 0 15px;
        }
    }

    @include media-medium {
        body {
            overflow-y: auto;
        }
        #main {
            overflow-y: auto;
        }
        #main {
            height: calc(100% - 60px);
        }
        #search {
            display: none;
        }
        #navigation {
            display: none;
        }
        #mobile-navigation {
            display: block;
        }
        #secondary-navigation {
            display: none;
        }
        #content-footer-wrapper {
            height: calc(100% - #{$theme-header-height});
        }
        #header .header-container {
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        }
        .hero-text {
            font-size: $h1-font-size;
        }
    }

    @include media-small {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        #header .company-logo img {
            height: 24px;
            margin-top: 2px;
        }
        footer {
            height: auto;
            padding: 10px;
            text-align: center;
        }
        nav.footer-navigation {
            float: none;
        }
        nav.footer-navigation a {
            margin: 0 20px;
            letter-spacing: 2px;
        }
        #social {
            float: none;
            margin: auto;
        }
        #social .social-link {
            float: none;
            display: inline-block;
            margin: 20px 10px 0 10px;
        }
        .hero-text {
            font-size: $h1-font-size;
        }
        .content,
        .hero-text,
        .publish-date,
        .back-button {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
