
$button-width: 58px;
$button-height: $theme-header-height;
$button-color: #222;
$button-background-color: transparent;
$button-open-color: white;
$button-open-background-color: #444;

$menu-width: 300px;

#mobile-navigation {
    display: none;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: $menu-width;
    z-index: $theme-mobile-navigation-z-index;

    @include transition(all 0.5s ease-out);
    @include transform(translateX(100%));

    #mobile-nav {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    #mobile-btn {
        float: left;
        height: $button-height;
        width: $button-width;
        margin-left: -$button-width;

        font-size: 26px;
        background-color: $button-background-color;
        color: $button-color;
        text-align: center;
        -webkit-text-stroke: 1px $button-open-color;
        cursor: pointer;

        i {
            margin-top: 18px;
            margin-left: -2px;
        }
    }

    #mobile-nav-container {
        float: left;
        width: 100%;
        height: 100%;
        background-color: #f7f7f7;
        overflow-y: auto;
        overflow-x: hidden;

        nav {
            padding: 8px 0 20px 0;
            clear: both;

            ul {
                list-style: none;
                margin-bottom: 0;
                padding-left: 30px;
                background-color: #fff;
            }

        }
    }

    &.open {
        @include transform(none);

        #mobile-btn {
            background-color: $button-open-background-color;
            color: $button-open-color;
        }
    }

}


@media (max-width: 800px) {
    #mobile-navigation {
        &.open {
            width: calc(100% - #{$button-width});
        }
    }
}

.mobile-menu-container {
    border: solid;
    border-width: 1px 0 0 0;
    border-top-color: #e2e2e2;
    box-shadow: inset 0 1px 0 #fff;
}

.mobile-menu-container:last-child {
    border: solid;
    border-width: 1px 0 1px 0;
    border-bottom-color: #fff;
    border-top-color: #e2e2e2;
    box-shadow: inset 0 -1px 0 #e2e2e2, inset 0 1px 0 #fff;
}

.active-primary-link {
    background-color: #b3b3b3;
    color: #fff !important;
    font-weight: 700 !important;
}

#mobile-nav .primary-link {
    color: #222;
    display: block;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
    padding-left: 24px;
    line-height: 50px;
    @include transition(all 0.3s ease);
    position: relative;
}

#mobile-nav .primary-link .link-arrow {
    position: absolute;
    line-height: 49px;
    right: 10px;
    font-size: 22px;
}

#mobile-nav .secondary-link {
    display: block;
    font-size: 14px;
    padding: 0;
    color: #868686;
    letter-spacing: 1px;
    @include transition(all 0.5s);
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    z-index: 1
}

#mobile-nav li.sub-menu-link span.link-arrow {
    position: absolute;
    top: 0;
    right: 14px;
    line-height: 50px;
    font-size: 16px;
    margin-top: -1px;
}

#mobile-nav .secondary-link:focus {
    color: #2c3e50;
}

#mobile-nav li.sub-menu-link {
    height: 50px;
    border: solid;
    border-width: 1px 0 0 0;
    border-color: #e4e4e4;
}
#mobile-nav li.sub-menu-link:first-child{
    border: none;
}

#mobile-nav .secondary-link:hover {
    color: #222;
}

#mobile-nav .secondary-link:hover span.link-label {
    @include transform(translate(5px, 0));
    color: #222;
}

.mobile-primary-page-active {
    font-weight: 700 !important;
}

.mobile-primary-page-active:after {
    display: block;
    background-color: transparent;
    content: "";
    opacity: 1;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid black;
    position: absolute;
    left: -6px;
    top:18px;
    @include transition(none);
    @include transform(rotate(90deg));
}

.mobile-secondary-page-active {
    font-weight: 700 !important;
    color: #222 !important;
    pointer-events: none;
}

.mobile-secondary-page-active:after {
    content:"";
    display: block;
    background-color: #ccc;
    height: 4px;
    bottom:0;
    width: 100%;
    position: absolute;
}

.mobile-secondary-page-active .link-arrow {
    display: none;
}
