/* ==========================================================================
       Navigation
   ========================================================================== */

#navigation-component {
    .nav-links ul.sub-menu-column {
        padding-left: 0;
    }

    .nav-links ul li {
        list-style: none;
        padding: 0
    }

    .menu-container {
        display: inline-block;
        height: $theme-header-height;
        margin-left: 0px;
        margin-right: 30px;
        @include media-large {
            margin-right: 20px;
        }
    }

    .sub-menu {
        max-height: 0;
        height: auto;
        overflow: hidden;
        display: block;
        z-index: 1000;
        position: absolute;
        margin-top: 20px;
        margin-left: -10px;
        opacity: 0;
    }

    .secondary-links-wrapper {
        padding: 5px 25px 1px 25px;
        text-align: left;
        border: solid;
        border-width: 1px 0 0 0;
        border-color: #eee;
        background-color: #f7f7f7;
        border-radius: 0 0 1px 1px;
        margin: 0 10px 16px 10px;
        box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
        white-space: nowrap;

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .sub-menu-left-column {
        display: inline-block;
        border: solid;
        border-width: 0 1px 0 0;
        border-color: #e4e4e4;
        padding-right: 30px;
        margin-right: 30px;
        vertical-align: top;
    }

    .sub-menu-right-column {
        display: inline-block;
        vertical-align: top;
    }

    .sub-menu h1 {
        font-size: 24px;
        padding-bottom: 16px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #3fa9f5;
    }
}

.navigation-bar {
    height: 55px;
    text-align: right;
    padding-right: 0;
    border: none;
    border-width: 0 0 1px 0;
    display: inline-block;
    float: right;
}

nav#navigation {
    .primary-link {
        color: #111;
        @include transition(color 0.3s ease-out);
        display: block;
        font-weight: 400;
        letter-spacing: 1px;
        @include media-large {
            letter-spacing: 0px;
        }
        height: 40px;
        font-size: 14px;
        text-align: right;
        padding-top: 20px;

        &:after {
            content: "";
            display: block;
            height: 4px;
            bottom: 0;
            background-color: #ccc;
            margin-top: 3px;
            @include transition(all 0.7s ease-out);
            width: 0;
            opacity: 0;
            position: relative;
            z-index: 999;
        }

        &.primary-page-active {
            font-weight: 700;
            display: inline-block;
            position: relative;

            &:hover {
                color: #111;
            }

            &:after {
                display: block;
                background-color: transparent;
                content: "";
                opacity: 1;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid black;
                position: absolute;
                left: 50%;
                @include transform(translate(-50%, 20px));
                @include transition(none);
            }
        }
    }

    .primary-link:hover:after, .active-link:after {
        width: 100%;
        @include transition(all 0.2s ease-out);
        opacity: 1;
    }

    .primary-link.primary-page-active:hover:after {
        width: auto;
    }

    .primary-link:hover, .active-link {
        color: #999;
    }

    li.sub-menu-link {
        height: 40px;
        border: solid;
        border-width: 1px 0 0 0;
        border-color: #e4e4e4;

        &:first-child {
            border-width: 0;
        }
    }
}

#navigation-component .secondary-link {
    display: block;
    font-size: 13px;
    padding: 0;
    color: #868686;
    letter-spacing: 1px;
    @include transition(all 0.2s);
    line-height: 40px;
    text-transform: capitalize;;
    font-weight: 400;
    position: relative;
    z-index: 1;

    &:hover {
        color: #000;

        span.link-label {
            @include transform(translate(5px, 0));
        }
    }
}

li.sub-menu-link span.link-arrow {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    font-size: 16px;
    margin-top: -1px;
}

li.sub-menu-link span.link-label {
    display: inline-block;
    margin-right: 50px;
    @include transition(all 0.3s ease-out);
}

#secondary-navigation {
    background-color:#000;
    height: $theme-header-secondary-navigation-height;
    text-align: center;
    clear: both;

    a {
        color: #fff;
        @include transition(color 0.3s ease-out);
        display: inline-block;
        font-weight: 400;
        letter-spacing: 1px;
        height: 40px;
        font-size: 14px;
        text-align: right;
        padding-top: 20px;
        margin: 0 30px 0 30px;

        &:hover {
            color: #999;

            &:after {
                width: 100%;
                @include transition(all 0.2s ease-out);
                opacity: 1;
            }
        }

        &:after {
            content: "";
            display: block;
            height: 4px;
            bottom: 0;
            background-color: #ccc;
            margin-top: 16px;
            @include transition(all 0.7s ease-out);
            width: 0;
            opacity: 0;
            position: relative;
            z-index: 999;
        }

        &.secondary-page-active {
            font-weight: 700;

            &:hover {
                color: #fff;
            }

            &:after {
                width: 100%;
                @include transition(all 0.2s ease-out);
                opacity: 1;
            }
        }
    }
}