@import "cemex-css/mixins/media-queries.mixin.scss";

/* ==========================================================================
    Stock
========================================================================== */

#stock-component {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateZ(0);
}

#stock-component #stock-market {
    text-align: left;
    width: 100%;
    margin: 10px 0 0 10px;
}

#stock-component #stock-market .market-option {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    transition: color 0.3s ease-Out;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

#stock-component #stock-market .market-option:hover {
    color: #fff;
}

#stock-component #stock-market .market-option.active {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    cursor: default;
}

#stock-component #stock-market .divider {
    display: inline-block;
    margin: 0 8px 0 8px;
    width: 1px;
    background-color: #fff;
    height: 16px;
    vertical-align: middle;
}

#stock-component #stock-value {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0,-60%);
}

#stock-component #investors-btn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #430F70;
    cursor: pointer;
    color: #eee;
    font-size: 11px;
    letter-spacing: 2px;
    z-index: 100;
    border:solid;
    border-width: 1px 0 0 0;
    border-color: rgba(0,0,0,0.1);
}

#stock-component #investors-btn #investors-btn-label {
  float: left;
  position: relative;
  z-index: 100;
  line-height: 40px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 17px;
  transition: all 0.5s ease-out;
}

#stock-component #investors-btn:hover #investors-btn-label {
    padding-left: 5px;
    transition: all 0.5s ease-out;
}

#stock-component #investors-btn #investors-btn-arrow {
  float: right;
  font-size: 18px;
  line-height: 38px;
  position: relative;
  z-index: 100;
  margin-right: 17px;
}

#stock-component #investors-btn:before {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: -20px;
    position: absolute;
    width: 0%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    transition: all 0.5s ease-out;
}

#stock-component #investors-btn:hover:before {
    opacity: 1;
    width: 130%;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.5s ease-out;
}

#stock-component #stock-value-status {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
}

#stock-component #stock-value-status img {
    width: 16px;
    height: 16px;
    margin-bottom: 7px;
}

#stock-component #stock-value-status-currency {
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
}

#stock-component #stock-value-text {
    color: #fff;
    font-size: 100px;
    line-height: 100%;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -6px;
}

#stock-component sup {
  font-size: 40px;
  letter-spacing: -1px;
  position: inherit;
  vertical-align: top;
  line-height: 4vh;
  display: inline-block;
}

@include media-small {
  #stock-component #stock-value-text {
      font-size:80px;
  }

  #stock-component sup {
    font-size: 30px;

  }
}
